<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            org.mariadb.jdbc.Driver
        </property>
        <property name="hibernate.connection.pool_size">
            10
        </property>
        <property name="hibernate.jdbc.batch_size">
            50
        </property>

        <!-- migration settings -->

        <mapping class="de.hpi.bpt.argos.persistence.model.event.EventImpl"/>
        <mapping class="de.hpi.bpt.argos.persistence.model.event.type.EventTypeImpl"/>
        <mapping class="de.hpi.bpt.argos.persistence.model.event.statusUpdate.StatusUpdateEventTypeImpl"/>
        <mapping class="de.hpi.bpt.argos.persistence.model.event.EventQueryImpl"/>
        <mapping class="de.hpi.bpt.argos.persistence.model.event.attribute.EventAttributeImpl"/>
        <mapping class="de.hpi.bpt.argos.persistence.model.event.data.EventDataImpl"/>
        <mapping class="de.hpi.bpt.argos.persistence.model.product.ProductFamilyImpl"/>
        <mapping class="de.hpi.bpt.argos.persistence.model.product.ProductImpl"/>
        <mapping class="de.hpi.bpt.argos.persistence.model.product.ProductConfigurationImpl"/>
        <mapping class="de.hpi.bpt.argos.persistence.model.product.error.ErrorTypeImpl"/>
        <mapping class="de.hpi.bpt.argos.persistence.model.product.error.ErrorCauseImpl"/>
        <mapping class="de.hpi.bpt.argos.persistence.model.parsing.DataFileImpl"/>

    </session-factory>
</hibernate-configuration>