<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            org.mariadb.jdbc.Driver
        </property>
        <property name="hibernate.connection.pool_size">
            16
        </property>
        <property name="hibernate.jdbc.batch_size">
            50
        </property>

        <!-- migration settings -->

        <mapping class="de.hpi.bpt.argos.storage.dataModel.attribute.AttributeImpl"/>
        <mapping class="de.hpi.bpt.argos.storage.dataModel.attribute.type.TypeAttributeImpl"/>
        <mapping class="de.hpi.bpt.argos.storage.dataModel.entity.EntityImpl"/>
        <mapping class="de.hpi.bpt.argos.storage.dataModel.entity.type.EntityTypeImpl"/>
        <mapping class="de.hpi.bpt.argos.storage.dataModel.event.EventImpl"/>
        <mapping class="de.hpi.bpt.argos.storage.dataModel.event.query.EventQueryImpl"/>
        <mapping class="de.hpi.bpt.argos.storage.dataModel.event.type.EventTypeImpl"/>
        <mapping class="de.hpi.bpt.argos.storage.dataModel.mapping.EventEntityMappingImpl"/>
        <mapping class="de.hpi.bpt.argos.storage.dataModel.mapping.MappingConditionImpl"/>
        <mapping class="de.hpi.bpt.argos.storage.util.DataFileImpl"/>

    </session-factory>
</hibernate-configuration>