<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            org.mariadb.jdbc.Driver
        </property>

        <!-- migration settings -->
        <property name="hbm2ddl.auto">update</property>

        <mapping class="de.hpi.bpt.argos.persistence.model.event.EventImpl"/>
        <mapping class="de.hpi.bpt.argos.persistence.model.event.type.EventTypeImpl"/>
        <mapping class="de.hpi.bpt.argos.persistence.model.event.EventSubscriptionQueryImpl"/>
        <mapping class="de.hpi.bpt.argos.persistence.model.event.attribute.EventAttributeImpl"/>
        <mapping class="de.hpi.bpt.argos.persistence.model.event.data.EventDataImpl"/>
        <mapping class="de.hpi.bpt.argos.persistence.model.event.UpdateProductStateEventImpl"/>
        <mapping class="de.hpi.bpt.argos.persistence.model.product.ProductFamilyImpl"/>
        <mapping class="de.hpi.bpt.argos.persistence.model.product.ProductImpl"/>

    </session-factory>
</hibernate-configuration>